html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter_24pt-Regular.ttf") format("truetype"); /* Or format("truetype") if it's a .ttf file */
    font-weight: 300; /* Adjust weight if needed */
    font-style: normal;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("fonts/Poppins-Bold.ttf") format("truetype"); /* Or format("truetype") if it's a .ttf file */
    font-weight: 400; /* Adjust weight if needed */
    font-style: normal;
}

.home-sec{
    background: linear-gradient(135deg, rgba(38, 15, 124, 0.85) 2%, rgba(177, 6, 111, 0.8) 63%), url('images/pexels-wendy-wei-1190297.jpg');
    height:727px;
    background-size: cover;
    background-position: center;
    width: 100%;
    color: #ffffff;
    box-sizing: border-box;
}


.home-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo{
    left:-60px;
}



.nav-bar{
    position: sticky;
    
}
.nav-bar ul {
    display: flex;
    font-family: "Poppins-Bold";
    list-style: none;
    flex-wrap: nowrap;
    font-size: 16px;
    gap: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}
.search-icon{
    margin-left: -90px;
}

.Buy-ticketbtn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #F8669E;
    height: 53px;
    margin-left: 80px;
    width:142px;
    padding: 11px 20px;
    color:#ffffff;
    cursor: pointer;
    font-size: 15px;
    border: none;
    white-space: nowrap;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
    transition: background-color 0.3 ease-in-out;
    background: linear-gradient(to left, #F8669E 50%, #012d7a 50%);
    background-size: 200% 100%; /* Makes the background twice as wide as the button */
    background-position: right bottom; /* Starts showing the pink side */
    transition: background-position 0.4s ease-in-out;
}


.Buy-ticketbtn:hover{
   
    background-position: left bottom;
}


/* Hero Wrapper Layout */
.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 30px auto 0 auto;
    padding: 0 20px;
}

/* Home Content Text Area */
.home-content {
    max-width: 800px; 
    margin-top:-100px;
    margin-left: 40px;
    padding: 0;
}

.home-content .sub-title {
    color: #F8669E;
    font-size: 21px;
    font-family: "Inter";
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: block;
    margin-bottom: 15px;
}


.home-content h1 {
    font-size: 70px; 
    font-family: "Inter";
    line-height: 1.15;
    color: #ffffff;
    margin: 0 0 20px 0;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.home-content p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    max-width: 620px;
    line-height: 1.6;
    margin: 0;
   
}

/* Hero Image & Background Ring Alignment */
.hero-image {
    max-width: 500px;
    margin-left: 0; 
    position: relative;
    margin-top: 54px;
    
   
    background: url(images/manbg.png) no-repeat center;
    background-size: contain; 
    
    min-height: 400px; 
}
.hero-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-bottom: 0px;
    
    
    position: relative;
    z-index: 1; 
}


.countdown{
    background-color: #F8669E;
    height: 162px;
    width:1144px;
    margin-top: -50px
}

.countdown-metrics{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;   
    margin-top:0px;
}

.countdown-metrics div{
    color: #fdfdff;
    font-size: 58px;
    font-family: "Poppins",sans-serif;
    font-weight: 400 !important;
    margin-top: 30px;
    margin-right: 100px;
}

.countdown-metrics p{
    margin-top: 1px ;
    font-size: 16px;
}



/* Main section container */
.join {
    max-width: 1200px;
    margin: 200px auto;
    padding: 0 20px;
    background: url(images/testimonial-1.png)no-repeat center center;
    background-size: cover;
    min-height: 500px;
}

/* 2-Column Grid: Left side for cards, Right side for text */
.join-content {
    display: grid;
    height: 650px;
    width:1285;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

/* Left card wrapper layout */
.cards-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-left: -120px;
    background: url(images/contentbg.png) no-repeat center center;
    background-size: 700px auto;
}

.card-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

/* Staggers the second column down to match the template */
.card-col.col-2 {
    margin-top: 140px; 
    margin-left: -10px;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
    padding:5px;
    width: 354px;   /* Change to your desired width */
    height: 285px;
    border: .5px solid #F3F3F3;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.06);
    text-align: center;
}


/* Proper Pink Icon Box */
.s-icon {
    width: 55px;
    height: 55px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-bottom: 20px;
}

.s-icon img {
    width: 40px;
    height: 40px;
}

.service-card h3 {
    font-size: 21px;
    font-family: "Inter", sans-serif;
    color: #333369;
    margin-bottom: 0px;
    margin-top: 0px;
}

.service-card p {
    font-size: 16px;
    color: #707070;
    margin-bottom: 20px;
}

.service-card a {
    font-size: 16px;
   font-family: "Poppins",sans-serif;
    color: #F8669E;
    text-decoration: none;
}

/* Right side text block styling */
.join-text {
    grid-column: 2;
}

.join-text h2 {
    font-size:56px;
    font-family: "Inter", sans-serif;
    color: #333369;
    line-height: 1.15;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.join-text h2 span {
    color: #F8669E;
}

.join-text p {
    color: #707070;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Button style matching the template */
.join-text button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #F8669E;
    height: 53px;
    width:142px;
    padding: 11px 20px;
    color:#ffffff;
    cursor: pointer;
    font-size: 15px;
    border: none;
    white-space: nowrap;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
    transition: background-color 0.3 ease-in-out;
    background: linear-gradient(to left, #F8669E 50%, #012d7a 50%);
    background-size: 200% 100%; 
    background-position: right bottom; 
    transition: background-position 0.4s ease-in-out;
}

.join-text button:hover{
    background-position: left bottom;
}


#About {
    position: relative; /* Needed so the background box can lock to it */
    max-width: 1200px;
    margin: 100px auto;
    height: 928px;
    padding: 0 20px;
    background-color: transparent;
}


.ab-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc((100vw - 100%) / -2); /* Pulls the background all the way to the left browser edge */
    width: 50vw; /* Covers exactly half of the screen width */
    height: 100%;
    background-color: #F7F7F7;
    z-index: -1; /* Puts the background safely behind your text */
}

.about-container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    align-items: center;
    gap: 100px;
}

.about-text {
    padding: 60px 0; /* No background needed here anymore, the pseudo-element handles it */
    margin-right: 10px;
}

.about-sec span{
    margin-bottom: 0px;
    font-family: "Inter" , sans-serif;
}

.about-sec h2{
    margin-top:10px;
    font-family: "Inter" , sans-serif;
    margin-bottom: 15px;
}

.about-sec p{
    color: #707070;
    font-size: 16px;
    font-family:"Poppins", sans-serif;
    margin-top: 10px;
    min-width:100px;
}

.image-column {
    display: grid;
    grid-template-columns: 5fr 5fr;
    gap: 20px;
    align-items: center;
    margin-left: 100px;
    margin-top: 90px;

    background-image: url('images/contentbg.png') ;
    background-size: 650px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

.image-column img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
  
}

.image-column > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.discover{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #F8669E;
    height: 53px;
    width:142px;
    padding: 11px 20px;
    color:#ffffff;
    cursor: pointer;
    font-size: 15px;
    border: none;
    white-space: nowrap;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
    transition: background-color 0.3 ease-in-out;
    background: linear-gradient(to left, #F8669E 50%, #012d7a 50%);
    background-size: 200% 100%; 
    background-position: right bottom; 
    transition: background-position 0.4s ease-in-out;
}


.discover:hover{
   
    background-position: left bottom;
}




.metric{
    height: 252px;
}

.metrics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 210px;   
    margin:0px;
}

.metrics div{
    color: #333369;
    font-size: 56px;
    font-family: "Inter", sans-serif;
    font-weight: bold!important;
}

.metrics p{
    margin-top: 1px ;
    font-size: 16px;
}


#schedule{
    height: 1300px;
    background:linear-gradient(to left, #F7F7F7 50% , transparent 50%);
}

.schedule-content{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.schedule-header {
    position: relative; 
    margin-bottom: -2px;
    margin-top: -10px;
    margin-left: 270px;
}

.schedule-header h5{
    color: #F8669E;
    bottom: -30px;
    font-family: "Inter" , sans-serif;
}

.schedule-header h2{
    color: #333369;
    font-family: "Inter" , sans-serif;
    letter-spacing: .5px;
}

.schedule-header .bg-text {
    position: absolute;
    top: -2px; 
    left: 0;
    font-weight: 300!important;
    font-family: "Inter" , sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px #33336933;
    z-index: 0;
    pointer-events: none; 
    text-transform: capitalize;
    letter-spacing: 2px;


}


.schedule-header h5, 
.schedule-header h2 {
    position: relative;
    z-index: 1;
}



.schedule-items {
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    margin-left: 270px;
    margin-top: -1px;
    border-radius: 0px;
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
}

/* Left Pink Time Block */
.event-item {
    background-color: #F8669E;
    color: white;
    padding: 40px 30px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch; /* Makes it match the card's height */
    font-family: "Inter",sans-serif;
}

i {
    font-size: 12px;
    color: #F8669E;
}

.event-item span {
    font-size: 0.85rem;
    opacity: 0.9;
    margin-bottom: 8px;
}

.event-item h3 {
    font-size: 1.4rem;
    font-weight: 700;
}

/* Middle Details */
.event-details {
    padding: 30px;
    flex-grow: 4; /* Takes up all the middle space */
}

.event-details h3 {
    color: #333369;
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: "Inter";
}

.event-details p {
    color: #666;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

.event-location {
    display: flex;
    gap: 20px;
    font-size: 0.85rem;
    color: #888;
    
}

/* Right Speaker Section */
.event-speaker {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 30px;
    border-left: 1px solid #eee;
    width: 250px;
    flex-shrink: 0;
    align-self: stretch;
}

.event-speaker img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.event-speaker h4 {
    color: #e1306c;
    font-size: 0.95rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.event-speaker p {
    color: #888;
    font-size: 0.8rem;
    margin-top: 0px;
}




#speakers{
    position: relative;
    max-height: 1394px;
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
   
}


.speaker-sec::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Put your background image properties here instead */
    background: url(images/manbg.png) no-repeat left;
    background-size: contain;
    background-attachment: local;
    /* Control your opacity here (e.g., 0.3 for 30% visibility, 0.5 for 50%) */
    opacity: 0.3; 
    
    z-index: 0; /* Keeps it sitting behind your actual content */
    pointer-events: none; /* Ensures clicks pass right through it */
}

.speaker-sec > * {
    position: relative;
    z-index: 1;
}






.speaker-header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter",sans-serif;
}


.speaker-header .sp-text {
   position: absolute;
    top: 24%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 130px; 
    font-weight: 300!important;
    color: rgba(0, 0, 0, 0.03); 
    z-index: 0; 
    text-transform: capitalize;
    letter-spacing: 2px;
    white-space: nowrap;

    color: transparent;
    -webkit-text-stroke: 1px #33336966
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 20px;
}

.stacked-col {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.img-card {
    background: #ffffff;
    padding: 12px; 
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05); 
}

.img-card img {
    width: 100%;
    height: auto;
    display: block;
    border: none; 
}


.view-speaker{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 50px;
    width: 200px;
    padding-bottom: 0px;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    border: none;
    white-space: nowrap;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
    margin-left: 850px;
    margin-bottom: 100px;

    background: linear-gradient(to left, #F8669E 50%, #012d7a 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.4s ease-in-out;
}

.view-speaker:hover{
    background-position: left bottom;
}



.pricing-sec{
    margin-top: 100px;
    padding: 100px 20px;
    background-color:#F7F7F7;
    margin-bottom:100px;
}

.pricing-header {
    position: relative;
    margin-bottom: 60px;
    margin-left: 280px;
}

.pricing-header .bg-text {
    position: absolute;
    top: 20%;
    left: 12.5%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    font-family: "Inter",sans-serif;
    font-weight: 400!important;
    color: rgba(0, 0, 0, 0.03);
    z-index: 0;
    pointer-events: none;
    text-transform: capitalize;
    white-space: nowrap;

   color: transparent;
    -webkit-text-stroke: 1px #43434366
}

.pricing-header h5, 
.pricing-header h2 {
    position: relative;
    z-index: 1;
    font-family: "Inter",sans-serif;
}
.pricing-header h5{
    margin-bottom: 20px;
    bottom: -20px;
    color: #F8669E;
}

.pricing-header h2{
    margin-top: 0px;
    top: 10px;
    color: #333369;
    
}

.pricing-header span{
    color: #F8669E;
}

.price-card .wave {
    position: absolute;
    top:-15px;
    left: 0;
    width: 100% !important; /* Forces it to span the full width of the card */
    height: auto !important;
    line-height: 0;        /* Removes extra spacing under the image */
}

.price-card .wave img {
    width: 100%;
    height: 15px;           /* Controls how tall the wave bumps look */
    object-fit: cover;      /* Stretches it cleanly across the top */
    display: block;
}



/* Pricing Grid Layout */
.pricing-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: stretch;
}

/* Base Price Card Style */
.price-card {
    background: #ffffff;
    height:721px;
    width:411px;
    text-align: center;
    border: 1px solid #eee;
    padding: 10px 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.03);
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    
}

/* Highlighted Middle Card (Silver) */
.price-card.featured {
    background-color: #333369; /* Dark Navy/Purple */
    color: #ffffff;
    border: none;
    height: 750px !important;
    z-index: 2;
}

.price-card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.package-type {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 20px;
}

.price-card.featured .package-type {
    color: #ccc;
}

.price {
    font-size: 3.5rem;
    font-weight: 800;
    color: #F8669E; /* Pink pricing color */
    margin-bottom: 5px;
}

.person {
    font-size: 16px;
    color: #888;
    margin-bottom:-20px;
    
}

.price-card.featured .person {
    color: #ccc;
}

/* Feature List */
.features {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 20px;
}

.features li {
    padding: 12px 0;
    border-bottom: 1px dashed #eee;
    font-size: 16px;
    color: #555;
    margin-top:3px;
}

.price-card.featured .features li {
    color: #ddd;
    border-bottom: 1px dashed rgba(255,255,255,0.1);
}

.purchase-btn {
    color: white;
    height: 51px;
    width: 120px;
    border: none;
    outline: none; 
    margin-left: 150px;
    padding: 12px 0;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
    background: linear-gradient(to left, #F8669E 50%, #012d7a 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.4s ease-in-out;
}

.purchase-btn:hover {
    background-position: left bottom; /* Make sure this is background-position, not background-color */
}

.terms {
    font-size:21px;
    color: #999;
}

.price-card.featured .terms {
    color: #aaa;
}


#Expo {
    position: relative;
    height: 950px;
    background: linear-gradient(135deg, rgba(38, 15, 124, 0.35) 10%, rgba(38, 15, 124, 0.35) 10%), url('images/pexels-sascha.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: #ffffff;
    margin-bottom: 0px;
    text-align: center;
}

/* Dark overlay so the text pops against the background */
#Expo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 16, 60, 0.095); /* Adjust opacity as needed */
    z-index: 1;
}
#expo-section {
    position: relative;
}

/* Header & Watermark */
.expo-header {
    position: relative;
    margin-bottom: 50px;
}

.expo-header .exp-text {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 130px;
    font-weight: 400!important;
    color: rgba(255, 255, 255, 0.03); 
    z-index: 2; /* Keep it at the very bottom layer */
    pointer-events: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-family:"Inter" , sans-serif;

   color: transparent;
    -webkit-text-stroke: 1px #F8669E33
}

.expo-header h5,
.expo-header h2 {
    position: relative;
    z-index: 3; /* Forces the text to sit above the watermark */
}

.expo-header h5 {
    color: #F8669E;
    font-size:21px; /* Fixed the missing '1' or value here */
    bottom: -20px;
}


.expo-header h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 10px;
}

.expo-header .highlight {
    color: #F8669E;
}

.expo-event-cards {
    max-width: 750px; /* Makes the whole block narrower and smaller */
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.event-card.small-card {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.25); 
    backdrop-filter: blur(10px);
    overflow: hidden;
    width: 100%;
    text-align: left;
}

/* Left Pink Time Block */
.event-card.small-card .event-time {
    background-color: #F8669E;
    color: white;
    height: 122px;
    padding: 5px;
    width: 178px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
}
.custom-icon {
    width: 40px;  
    height: 40px;
    transform: scale(1.5); 
}

/* Card 1 Left Block (Pink) */
.event-card.small-card .event-time.pink-time {
    background-color: #F8669E;
    color: white;
}

.event-card.small-card .event-time.pink-time h3 {
    color: white;
}

/* Card 2 Left Block (White) */
.event-card.small-card .event-time.white-time {
    background-color: #ffffff;
    color: #F8669E; 
}

.event-card.small-card .event-time.white-time span {
    color: #888888; 
}

.event-card.small-card .event-time.white-time h3 {
    color: #22125d; 
}

.event-card.small-card .event-time.pink-time .white-time p{
 color: white;
}

.event-card.small-card .event-details p {
    color: #ffffff; 
    font-size: 0.85rem;
    line-height: 1.4;
    margin: 0;
}

.expo-showcase {
    max-width: 972px;
    margin: 0 auto;
}

.showcase-card {
    position: relative;
    background: #ffffff;
    padding: 7px; 
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.showcase-card img {
    width: 100%;
    height: auto;
    display: block;
}


.play-btn-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-btn {
    width: 70px;
    height: 70px;
    background-color: #F8669E;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 0 0 10px rgba(248, 102, 158, 0.3);
    transition: transform 0.2s ease;
}

.play-btn:hover {
    transform: translate(-50%, -50%) scale(1.1);
}


.gallery-sec {
    margin-top: 0px;
    height: 850px;
    padding: 100px 20px;
    background: url(images/speaker_bg.png);
    text-align: center;
    margin-bottom: 0px;
}

.gallery-header {
    position: relative;
    margin-bottom: 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-header .gg-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 130px;
    font-weight: 300!important;
    color: rgba(0, 0, 0, 0.04); 
    z-index: 0;
    font-family:"Inter" , sans-serif;
    pointer-events: none;
    text-transform: capitalize;
    white-space: nowrap;

    color: transparent;
    -webkit-text-stroke: 1px #CFCFDC55

}

.gallery-header h5, 
.gallery-header h2 {
    position: relative;
    z-index: 1;
}

.gallery-header h5 {
    color: #F8669E;
    font-size: 1rem;
    bottom: -17px;
    font-family:"Inter" , sans-serif;
}

.gallery-header h2 {
    color: #333369;
    font-size: 2.5rem;
    font-weight: 700!important;
    font-family:"Inter" , sans-serif;
    margin-top: 0px;
}

.gallery-header .highlight {
    color: #F8669E;
}


.gallery-grid {
    max-width: 1301px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}


.test-sec {
    padding: 100px 20px;
    background-color: #f7f7f7;
    margin-bottom: 100px;
}


.testimonial-content {
    max-width: 1306px;
    margin: 0 auto;
}


/* Header style matching previous sections */
.testimonial-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 70px;
    margin-bottom: -60px;
    margin-left: 280px;
    font-family: "Inter",sans-serif;
}


.testimonial-header .t-text {
    position: absolute;
    top: 36%;
    left: 23%;
    transform: translate(-50%, -50%);
    font-size: 130px;
    font-weight: 500!important;
    z-index: 0;
    pointer-events: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    white-space: nowrap;

    
    color: transparent;
    -webkit-text-stroke: 1px #CFCFDC66
}


.testimonial-header h5,
.testimonial-header h2 {
    position: relative;
    z-index: 1;
}


.testimonial-header h5 {
    color: #F8669E;
    font-size: 21px;
    top: 40px;
    padding-bottom:0px;
    bottom: 30px;
}

.testimonial-header h2 {
    color: #333369;
    bottom: 10px;
    font-size: 56px;
    font-weight: 700;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 25px;
}

.testimonial-header .highlight {
    color: #F8669E;
}

/* Grid layout for card and graphic */
.testimonial-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 10px;
}

/* Testimonial Quote Card */
.testimonial-card {
    max-width: 720px;
    max-height:311px ;
    background: #ffffff;
    margin-top: 20px;
    margin-left: 280px;
    padding: 40px;
    position: relative;
}

.quote-icon {
    font-size: 3rem;
    color: #F8669E;
    line-height: 1;
    margin-bottom: 15px;
    font-family: serif;
}

.quote-text {
    color: #707070;
    font-size: 16px;
    line-height: 1.6;
    font-family:"Poppins",sans-serif ;
    margin-bottom: 30px;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.author-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.author-info h4 {
    font-size: 1.1rem;
    color: #333369;
    margin: 0;
}

.author-info span {
    font-size: 0.85rem;
    color: #888;
}

/* Right Side Graphic Image */
.testimonial-graphic {
    flex: 1;
    min-width: 320px;
    display: flex;
    margin-left: 80px;
    opacity: 0.8;
}

.circles-bg {
    width: 100%;
    max-width: 450px;
    height: auto;
    display: block;
}




.partners-sec {
    position: relative;
    height: 572px;
    padding: 0px 20px;
    background: url('images/contentbg.png') no-repeat center -300px;
    background-size:930px; /* Stretches the frame nicely to fit the section */
    margin-bottom: 100px;
}

.partners-content {
    max-width: 1140px;
    margin: 0 auto;
}

/* Header style matching previous sections */
.partners-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Inter",sans-serif;
}

.partners-header .p-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 130px;
    font-weight: 300!important;
    margin-bottom: 10px;
    z-index: 0;
    pointer-events: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    white-space: nowrap;

    
    color: transparent;
    -webkit-text-stroke: 1px #CFCFDC55
}

.partners-header h5,
.partners-header h2 {
    position: relative;
    z-index: 1;
}

.partners-header h5 {
    color: #F8669E;
    font-size: 1rem;
    bottom: -55px;
}

.partners-header h2 {
    color: #333369;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top:30px;
}

.partners-header .highlight {
    color: #F8669E;
}

/* Partners Logo Grid (4 columns, 2 rows) */
.partners-grid {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 30px;
}

.partner-card {
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: all 0.3s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.02);
}


.partner-card img {
    max-width: 100%;
    max-height: 45px;
    object-fit: contain;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.partner-card:hover img {
    opacity: 1;
}



.section-divider {
    position: relative;
    height: 1px;
    border-bottom: 2px dotted #f8669e33; /* Creates the pink dashed line */
    margin: 80px auto;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-star {
    position: absolute;
    background-color: #ffffff; /* Matches your background so it cuts through the line cleanly */
    padding: 0 15px;
    color: #F8669E; /* Pink star color */
    font-size: 16px;
}



/* Divider Style */
.section-divider {
    position: relative;
    height: 1px;
    border-bottom: 2px dashed rgba(248, 102, 158, 0.2);
    margin: 80px auto;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-star {
    position: absolute;
    background-color: #ffffff;
    padding: 0 15px;
    color: #F8669E;
    font-size: 16px;
}

/* News Section Layout */
.news-sec {
    padding: 0 20px 100px 20px;
    background-color: #ffffff;
}

.news-content {
    max-width: 1140px;
    margin: 0 auto;
}

/* Header style matching previous sections */
.news-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Inter",sans-serif;
}

.news-header .n-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 130px;
    font-weight: 300!important;
    font-family: "Inter",sans-serif;
    z-index: 0;
    pointer-events: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    white-space: nowrap;

    color: transparent;
    -webkit-text-stroke: 1px #43434333
}

.news-header h5,
.news-header h2 {
    position: relative;
    z-index: 1;
}

.news-header h5 {
    color: #F8669E;
    font-size: 1rem;
    margin-bottom: -40px;
}

.news-header h2 {
    color: #333369;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.news-header .highlight {
    color: #F8669E;
}

/* Grid for the 3 news cards */
.news-grid {
    display: grid;
    height: 462px;
    width: 1297px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: -60px;
    margin-top: 30px;
}

.news-card {
    background: #ffffff;
    border: 1px solid #eaeaea;
    overflow: hidden;
}



.news-img-box {
    position: relative;
    height: 260px;
    overflow: hidden;
}

.news-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-tag {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #F8669E;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 5px 12px;
    border-radius: 3px;
    text-transform: uppercase;
}

.news-body {
    padding: 10px;
}

.news-body h3 {
    color: #333369;
    font-size:21px;
    font-weight: 700;
    line-height: 1.4;
    font-family: "Inter",sans-serif;
    margin-bottom: 15px;
    
}

.read-more {
    display: inline-block;
    color: #F8669E;
    font-size: 13.6px;
    font-weight: 400!important;
    font-family:"Poppins",sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: -10px;
}

.read-more:hover {
    text-decoration: underline;
}

.news-meta {
    border-top: 1px solid #f0f0f0;
    margin-top: 25px;
    padding-top: 16px;
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    color: #707070;
}



.venue-sec {
    padding: 80px 20px;
    background-color: #F7F7F7;
    margin-bottom:0px;
}

.venue-content {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.venue-left {
    display: flex;
    flex-direction: column;
}

.venue-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
    text-align: left;
    font-family: "inter",sans-serif;
}

.venue-header .v-text {
    position: absolute;
    top: -35px;
    left: 0;
    font-size: 110px;
    font-weight: 200!important;
    font-family: "Inter", sans-serif;
    z-index: 0;
    pointer-events: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    white-space: nowrap;


    color: transparent;
    -webkit-text-stroke: 1px #43434333
}

.venue-header h5,
.venue-header h2 {
    position: relative;
    z-index: 1;
}

.venue-header h5 {
    color: #F8669E;
    font-size: 1rem;
    margin-bottom: 10px;
}

.venue-header h2 {
    color: #2b1d42;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 0px;
}

.venue-header .highlight {
    color: #F8669E;
}

.venue-info-box {
    display: flex;
    align-items: center;
    height: 122px;
    width: 621px;
    background: transparent;
    border: 1px solid #cecece;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.02);
    overflow: hidden;
    transition: all 0.3s ease;
}

.venue-info-box:last-child {
    margin-bottom: 0;
}

.venue-info-box:hover {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.06);
}

.v-icon-box {
    background-color: #F8669E;
    width: 157px;
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.v-icon {
    font-size: 1.8rem;
    color: #ffffff;
}

.v-details {
    padding: 20px 25px;
}

.v-details h4 {
    font-size: 21px;
    font-weight: 700;
    color: #333369;
    margin: 0 0 5px 0;
}

.v-details p {
    font-size: 16px;
    color: #707070;
    margin: 0;
}

.venue-map {
    margin-top: 130px;
    width: 631px;
    height: 501px;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
}

.venue-map iframe {
    display: block;
    width: 100%;
    height: 100%;
    filter: grayscale(100%) contrast(1.1);
}


/* Main Footer Section */
.footer-main-sec {
    background: linear-gradient(rgba(49, 48, 98, 0.9), rgba(49, 48, 98, 0.95)), url('images/pexels-sascha.jpg') no-repeat center center;
    background-size: cover;
    color: #ffffff;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    padding: 90px 20px 70px 20px;
}

.footer-content {
    max-width: 1340px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 1.5fr 1.5fr;
    gap: 10px;
}

.footer-col h3 {
    font-size:21px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ffffff;
}

/* About Column */
.footer-logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #f7f7f7;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo .logo-icon {
    color: #F8669E;
}

.f-about p {
    font-size:16px;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* Social Icons */
.footer-socials {
    display: flex;
    gap: 10px;
}

.footer-socials a {
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    color:#353569;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 0.95rem;
    transition: background-color 1s ease ;
}
.footer-socials a i {
    color: inherit; 
}

.footer-socials a:hover {
    background-color: #F8669E;
    color: #ffffff;
}


/* Quick Links Column */
.f-link h3{
font-size: 21px;
}


.f-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
   
}

.f-links li {
    margin-bottom: 16px;
}

.f-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200!important;
    transition: color 0.3s ease;
}

i.icon-arrow-right {
    color: #ffffff !important;            
    font-size: 10px;                      
    font-weight: 400;                     
    -webkit-text-stroke: 1.5px #ffffff;   
    margin-right: 8px;                   
}

.f-links a:hover {
    color: #F8669E;
}

/* Get In Touch Column */
.f-contact .address {
    font-size:16px;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-left:-35px;
}
.f-contact h3{
     margin-left:-35px;
     font-size: 21px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
     margin-left:-35px;
}

.contact-item .f-icon {
    font-size: 21px;
}


.contact-item strong {
    display: block;
    font-size: 18px;
    color: #ffffff;
}

.contact-item span {
    font-size: 18px;
    color: #ffffff;
}

/* Newsletter Column */
.f-newsletter p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
}

.f-newsletter input {
    width: 308px;
    padding: 14px 8px;
    background-color: rgba(255, 254, 254, 0.05);
    border: 1px solid ;
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 15px;
    outline: none;
}

.f-newsletter input::placeholder {
    color: #ffffff;
}

.f-newsletter button {
    padding: 14px;
    width: 308px;
    background-color: #F8669E;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.f-newsletter button:hover{
    opacity: 0.9;
}

/* Actual Footer Bottom Bar */
.footer-bottom-sec {
    background-color: #333369; /* Slightly darker solid shade for the true footer bar */
    text-align: center;
    padding: 25px 20px;
    font-family: "Poppins" ,sans-serif;
    font-size:16px;
    font-weight: 600;
    color: #ffffff;
}